/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: var(--bg-color);
  --card-text: 400;
  --card-title: 700;
  --contour-color: var(--accent-color);
  --gradient-color: #d3d3d3;
  --gradient-color-top: #e7e7e7;
  --gradient-color-bottom: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --accent-color: #000;
    --button-text-color: var(--bg-color);
    --card-text: 400;
    --card-title: 700;
    --contour-color: var(--accent-color);
    --gradient-color: #d3d3d3;
    --gradient-color-top: #e7e7e7;
    --gradient-color-bottom: #1a1a1a;
  }
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --button-text-color: var(--accent-color);
  --card-text: 465;
  --card-title: 785;
  --contour-color: var(--accent-color);
  --gradient-color: #000;
  --gradient-color-top: #007f0c;
  --gradient-color-bottom: #004306;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --button-text-color: var(--accent-color);
    --card-text: 465;
    --card-title: 785;
    --contour-color: var(--accent-color);
    --gradient-color: #000;
    --gradient-color-top: #007f0c;
    --gradient-color-bottom: #004306;
  }
}
