/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'PressStart2P', fantasy; 
    --standart-font-weight: 400;
    --heading-font-weight: 700;
    --standart-font-weight-dark: 465;
    --heading-font-weight-dark: 785;
    --font-size: 18px;
    --font-standart-height: 21px;
    --font-heading-height: 21.78px;
    --clamp-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem); 
    --background-color: #FFFFFF;
    /*--background-color-alt: #000000;
    --text-color: #000000;  */
    --accent-color: #000000;
    --mix-color: #FFFFFF;
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
                        linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  
  }